bragg/quokka/au.gov.ansto.bragg.quokka.msw/resources/msw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  targetNamespace="http://www.gumtree.org/msw"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:msw="http://www.gumtree.org/msw"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="1.0">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      
      DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

      Copyright 2014-2015 ANSTO, all rights reserved.

      The contents of this file are subject to the terms of either the
      GNU General Public License Version 2 only ("GPL") or the Common
      Development and Distribution License("CDDL") (collectively, the
      "License").  You may not use this file except in compliance with
      the License.

      Contributor(s): David Mannicke

    </xsd:documentation>
  </xsd:annotation>
  
  
  <!-- id -->
  
  <xsd:simpleType name="Id">
    <xsd:restriction base="xsd:string">
      <!-- no leading zeros -->
      <xsd:pattern value="#(0|[a-f1-9][a-f0-9]*)-[a-f1-9][a-f0-9]*"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- experiment -->

  <xsd:simpleType name="SampleStage">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(Manual Position|Fixed Position|Rheometer|5 Position Rotating Holder|10 Position Holder|12 Position Holder|20 Position Holder)"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:element name="ExperimentDescription">
    <xsd:complexType>
      <xsd:attribute name="ProposalNumber"   type="xsd:string"  default=""/>
      <xsd:attribute name="ExperimentTitle"  type="xsd:string"  default=""/>
      <xsd:attribute name="SampleStage" type="msw:SampleStage" default="20 Position Holder"/>
    </xsd:complexType>
  </xsd:element>


  <!-- acquisition -->

  <!-- !!! think about how changes in an upper node would propagate to lower dependent nodes and update the GUI !!! -->

  <xsd:simpleType name="AttenuationAlgorithm">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="fixed attenuation|iterative attenuation|smart attenuation"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="AttenuationAngle">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(0|30|60|90|120|150|180|210|240|270|300|330)°"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="TransmissionEntry">
    <xsd:attribute name="MinTime"                     type="xsd:long"   />
    <xsd:attribute name="MinTimeEnabled"              type="xsd:boolean"/>
    <xsd:attribute name="MaxTime"                     type="xsd:long"    default="600" />
    <xsd:attribute name="MaxTimeEnabled"              type="xsd:boolean" default="true"/>
    <xsd:attribute name="TargetMonitorCounts"         type="xsd:long"   />
    <xsd:attribute name="TargetMonitorCountsEnabled"  type="xsd:boolean"/>
    <xsd:attribute name="TargetDetectorCounts"        type="xsd:long"   />
    <xsd:attribute name="TargetDetectorCountsEnabled" type="xsd:boolean"/>
    <!-- algorithm to find attenuation angle -->
    <xsd:attribute name="AttenuationAlgorithm" type="msw:AttenuationAlgorithm" default="fixed attenuation"/>
    <xsd:attribute name="AttenuationAngle"     type="msw:AttenuationAngle"     default="150°"/>
  </xsd:complexType>

  <xsd:complexType name="ScatteringEntry">
    <xsd:attribute name="MinTime"                     type="xsd:long"    />
    <xsd:attribute name="MinTimeEnabled"              type="xsd:boolean" />
    <xsd:attribute name="MaxTime"                     type="xsd:long"    default="600" />
    <xsd:attribute name="MaxTimeEnabled"              type="xsd:boolean" default="true"/>
    <xsd:attribute name="TargetMonitorCounts"         type="xsd:long"   />
    <xsd:attribute name="TargetMonitorCountsEnabled"  type="xsd:boolean"/>
    <xsd:attribute name="TargetDetectorCounts"        type="xsd:long"   />
    <xsd:attribute name="TargetDetectorCountsEnabled" type="xsd:boolean"/>
    <!-- algorithm to find attenuation angle -->
    <xsd:attribute name="AttenuationAlgorithm" type="msw:AttenuationAlgorithm" default="iterative attenuation"/>
    <xsd:attribute name="AttenuationAngle"     type="msw:AttenuationAngle"     default="90°"/>
  </xsd:complexType>

  <xsd:complexType name="AcquisitionEntry">
    <xsd:attribute name="MinTime"                     type="xsd:long"   />
    <xsd:attribute name="MinTimeEnabled"              type="xsd:boolean"/>
    <xsd:attribute name="MaxTime"                     type="xsd:long"   />
    <xsd:attribute name="MaxTimeEnabled"              type="xsd:boolean"/>
    <xsd:attribute name="TargetMonitorCounts"         type="xsd:long"   />
    <xsd:attribute name="TargetMonitorCountsEnabled"  type="xsd:boolean"/>
    <xsd:attribute name="TargetDetectorCounts"        type="xsd:long"   />
    <xsd:attribute name="TargetDetectorCountsEnabled" type="xsd:boolean"/>
  </xsd:complexType>


  <!-- users -->
  
  <xsd:element name="User">
    <xsd:complexType>
      <xsd:attribute name="Id"      type="msw:Id"      use="required"   />
      <xsd:attribute name="Enabled" type="xsd:boolean" default="true"   />
      <xsd:attribute name="Name"    type="xsd:string"  default="Unknown"/>
      <xsd:attribute name="Phone"   type="xsd:string"  default=""       />
      <xsd:attribute name="Email"   type="xsd:string"  default=""       />
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="UserList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="msw:User" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

    <!-- UserId -->
    <xsd:key name='UniqueId'>
      <xsd:selector xpath="msw:User"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
      
  </xsd:element>


  <!-- samples -->
  
  <xsd:element name="Sample">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msw:AcquisitionEntry">
          <xsd:attribute name="Id"          type="msw:Id"      use="required"   />
          <xsd:attribute name="Enabled"     type="xsd:boolean" default="true"   />
          <xsd:attribute name="Name"        type="xsd:string"  default=""/>
          <xsd:attribute name="Description" type="xsd:string"  default=""       />
          <xsd:attribute name="Thickness"   type="xsd:double"  default="1.0"    />
          <xsd:attribute name="Position"    type="xsd:double"  default="0.0"    />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="SampleReference">
    <xsd:complexContent>
      <xsd:extension base="msw:AcquisitionEntry">
        <xsd:attribute name="Id"          type="msw:Id"      use="required"/>
        <xsd:attribute name="BasedOn"     type="msw:Id"      use="required"/>
        <xsd:attribute name="Enabled"     type="xsd:boolean"/>
        <xsd:attribute name="Name"        type="xsd:string" />
        <xsd:attribute name="Description" type="xsd:string" />
        <xsd:attribute name="Thickness"   type="xsd:double" />
        <xsd:attribute name="Position"    type="xsd:double" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="SampleModification">
    <xsd:sequence>
      <xsd:element name="Sample"       type="msw:SampleReference"    minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Modification" type="msw:SampleModification" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Id"          type="msw:Id" use="required"/>
    <xsd:attribute name="TargetId"    type="msw:Id"    />
    <xsd:attribute name="Description" type="xsd:string"/>
  </xsd:complexType>
  
  <xsd:element name="SampleList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="msw:Sample"                                  minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Modification" type="msw:SampleModification" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Description" type="xsd:string" default=""/>
    </xsd:complexType>
    
    <!-- SampleId -->
    <xsd:key name='SampleId'>
      <xsd:selector xpath="msw:Sample"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
    <!-- SampleIdRef -->
    <xsd:keyref name="SampleIdRef" refer='msw:SampleId'>
      <xsd:selector xpath=".//msw:Modification/msw:Sample"/> 
      <xsd:field xpath="@BasedOn"/>  
    </xsd:keyref>
  
  </xsd:element>
  
  
  <!-- configurations -->
  
  <!-- !!! ConfigurationModification can only contain Transmission/Scattering referenes from source Configuration !!! -->
  
  <xsd:complexType name="MeasurementReference">
    <xsd:complexContent>
      <xsd:extension base="msw:AcquisitionEntry">
        <!-- SetupScript cannot be changed -->
        <xsd:attribute name="Id"          type="msw:Id"      use="required"/>
        <xsd:attribute name="BasedOn"     type="msw:Id"      use="required"/>
        <xsd:attribute name="Enabled"     type="xsd:boolean"/>
        <xsd:attribute name="Name"        type="xsd:string" />
        <xsd:attribute name="Description" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="Configuration">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msw:AcquisitionEntry">
          <xsd:sequence>
            <xsd:element name="SetupScript" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <!-- Transmission -->
            <xsd:element name="Transmission">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="msw:TransmissionEntry">
                    <xsd:sequence>
                      <xsd:element name="SetupScript" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:attribute name="Id"          type="msw:Id"      use="required"        />
                    <xsd:attribute name="Enabled"     type="xsd:boolean" default="true"        />
                    <xsd:attribute name="Name"        type="xsd:string"  default="Transmission"/>
                    <xsd:attribute name="Description" type="xsd:string"  default=""            />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
            <!-- Scattering -->
            <xsd:element name="Scattering">
              <xsd:complexType>
                <xsd:complexContent>
                  <xsd:extension base="msw:ScatteringEntry">
                    <xsd:sequence>
                      <xsd:element name="SetupScript" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:attribute name="Id"          type="msw:Id"      use="required"      />
                    <xsd:attribute name="Enabled"     type="xsd:boolean" default="true"      />
                    <xsd:attribute name="Name"        type="xsd:string"  default="Scattering"/>
                    <xsd:attribute name="Description" type="xsd:string"  default=""          />
                  </xsd:extension>
                </xsd:complexContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="Id"          type="msw:Id"      use="required"         />
          <xsd:attribute name="Enabled"     type="xsd:boolean" default="true"         />
          <xsd:attribute name="Name"        type="xsd:string"  default="Configuration"/>
          <xsd:attribute name="Description" type="xsd:string"  default=""             />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  
    <!-- MeasurementId -->
    <xsd:key name="MeasurementId">
      <xsd:selector xpath="msw:Transmission|msw:Scattering"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
  
  </xsd:element>
  
  <xsd:complexType name="ConfigurationReference">
    <xsd:complexContent>
      <xsd:extension base="msw:AcquisitionEntry">
        <xsd:sequence>
          <xsd:element name="Measurement" type="msw:MeasurementReference" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="Id"          type="msw:Id"      use="required"/>
        <xsd:attribute name="BasedOn"     type="msw:Id"      use="required"/>
        <xsd:attribute name="Enabled"     type="xsd:boolean"/>
        <xsd:attribute name="Name"        type="xsd:string" />
        <xsd:attribute name="Description" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationModification">
    <xsd:sequence>
      <xsd:element name="Configuration" type="msw:ConfigurationReference"    minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Modification"  type="msw:ConfigurationModification" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Id"          type="msw:Id" use="required"/>
    <xsd:attribute name="TargetId"    type="msw:Id"    />
    <xsd:attribute name="Description" type="xsd:string"/>
  </xsd:complexType>
  
  <xsd:element name="ConfigurationList">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="msw:Configuration"                                  minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Modification" type="msw:ConfigurationModification" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="Description" type="xsd:string" default=""/>
    </xsd:complexType>
  
    <!-- MeasurementId -->
    <!--
    <xsd:key name='MeasurementId'>
      <xsd:selector xpath="msw:Configuration/msw:Transmission|msw:Configuration/msw:Scattering"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
    -->
    <!-- MeasurementIdRef -->
    <!--
    <xsd:keyref name="MeasurementRef" refer='msw:MeasurementId'>
      <xsd:selector xpath=".//msw:Modification/msw:Measurement"/> 
      <xsd:field xpath="@BasedOn"/>  
    </xsd:keyref>
    -->
  
    <!-- ConfigurationId -->
    <xsd:key name='ConfigurationId'>
      <xsd:selector xpath="msw:Configuration"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
    <!-- ConfigurationIdRef -->
    <xsd:keyref name="ConfigurationRef" refer='msw:ConfigurationId'>
      <xsd:selector xpath=".//msw:Modification/msw:Configuration"/> 
      <xsd:field xpath="@BasedOn"/>  
    </xsd:keyref>
  
  </xsd:element>
  
  
  <!-- environments -->

  <xsd:element name="SetPoint">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msw:AcquisitionEntry">
          <xsd:attribute name="Id"         type="msw:Id"      use="required"/>
          <xsd:attribute name="Enabled"    type="xsd:boolean" default="true"/>
          <xsd:attribute name="Value"      type="xsd:double"  default="0.0" />
          <xsd:attribute name="WaitPeriod" type="xsd:double"  default="0.0" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:complexType name="SetPointReference">
    <xsd:complexContent>
      <xsd:extension base="msw:AcquisitionEntry">
        <xsd:attribute name="Id"         type="msw:Id"      use="required"/>
        <xsd:attribute name="BasedOn"    type="msw:Id"      use="required"/>
        <xsd:attribute name="Enabled"    type="xsd:boolean"/>
        <xsd:attribute name="Value"      type="xsd:double" />
        <xsd:attribute name="WaitPeriod" type="xsd:double" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:complexType name="SetPointModification">
    <xsd:sequence>
      <xsd:element name="SetPoint"     type="msw:SetPointReference"    minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Modification" type="msw:SetPointModification" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="Id"          type="msw:Id" use="required"/>
    <xsd:attribute name="TargetId"    type="msw:Id"    />
    <xsd:attribute name="Description" type="xsd:string"/>
  </xsd:complexType>

  <xsd:element name="Environment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="msw:AcquisitionEntry">
          <xsd:sequence>
            <xsd:element ref="msw:SetPoint"                                  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Modification" type="msw:SetPointModification" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:attribute name="Id"          type="msw:Id"     use="required"   />
          <xsd:attribute name="Name"        type="xsd:string" default="Unknown"/>
          <xsd:attribute name="Description" type="xsd:string" default=""/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
    
    <!-- SetPointId -->
    <xsd:key name='SetPointId'>
      <xsd:selector xpath="msw:SetPoint"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
    <!-- SetPointIdRef -->
    <xsd:keyref name="SetPointIdRef" refer='msw:SetPointId'>
      <xsd:selector xpath=".//msw:Modification/msw:Reference"/> 
      <xsd:field xpath="@BasedOn"/>  
    </xsd:keyref>
  
  </xsd:element>
  
  
  <!-- loop hierarchy -->
  
  <xsd:element name="LoopHierarchy">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="msw:Environment" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:choice>
          <xsd:sequence>
            <xsd:element ref="msw:SampleList"/>
            <xsd:element ref="msw:Environment" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="msw:ConfigurationList"/>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:element ref="msw:ConfigurationList"/>
            <xsd:element ref="msw:Environment" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="msw:SampleList"/>
          </xsd:sequence>
        </xsd:choice>
        <xsd:element ref="msw:Environment" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  
  <!-- root -->
  
  <xsd:element name="MSW">
    <xsd:annotation>
      <xsd:appinfo>
        model-root
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="msw:ExperimentDescription"/>
        <xsd:element ref="msw:UserList"/>
        <xsd:element ref="msw:LoopHierarchy"/>
      </xsd:sequence>
    </xsd:complexType>
    <!-- Id -->
    <!--
    <xsd:key name='UniqueId'>
      <xsd:selector xpath="msw:UserList/msw:User|.//msw:Sample|.//msw:Measurement|.//msw:Transmission|.//msw:Scattering|.//msw:Configuration|.//msw:SetPoint|.//msw:Environment"/>
      <xsd:field xpath="@Id"/>
    </xsd:key>
    -->
  </xsd:element>
</xsd:schema>